.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: var(--font-mono);
}

.bgImg,
.main_home::after {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ===== Home PAGE ===== */
.main_home {
  background-image: url('/img/rocket.jpg');
  position: relative;
  z-index: 0;
}

.main_home::after {
  content: '';
  display: block;
  background-image: url('/img/earth3.jpg');
  background-position: top center;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heading1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
  line-height: 0;
  padding: 5rem;
  box-shadow: 0px 0px 5px 5px black;
  color: #e4e4e4;
  text-shadow: black 2px 0px 2px, black -2px 0px 2px, black 0px -2px 2px, black -2px 0px 2px, black 2px 2px 2px, black -2px 2px 2px, black 2px -2px 2px, black -2px -2px 2px, black 1px 2px 2px, black -1px 2px 2px, black 1px -2px 2px, black -1px -2px 2px, black 2px 1px 2px, black -2px 1px 2px, black 2px -1px 2px, black -2px -1px 2px, black 1px 1px 2px, black -1px 1px 2px, black 1px -1px 2px, black -1px -1px 2px, 6px 7px 0 #fffb00ab, -6px -7px 0 #000;
}

.heading1:hover {
  margin-top: .3rem;
  box-shadow: inset 0px 0px 15px 10px #fffb00ab;
  background: #fffb0026;
  border: 1px solid #fffb0026;
}

.imgCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 15rem;
  overflow: scroll;
}

.imgBox {

}





/* ===== Polychromatic PAGE ===== */
